<div class="read-more">
  <!-- <div class="read-more-header">
    <a href="{{ author.site }}" class="read-more-btn">About the Author</a>
  </div> --> <!-- /.read-more-header -->
  <div class="read-more-header">
    <h4>About the Author</h4>
  </div>
  <div class="read-more-content author-info">
    <h3><a href="{{site.url}}/people/{{ page.author }}">{{ author.name }}</a></h3>
    <h4>{{author.position}}</h4>
    <div class="author-container">
      <!-- include author image if there is one -->
      {% if author.avatar %}
        <img style="max-width:300px;max-height:200px;" class="author-img" src="{{site.baseurl}}/{{author.avatar}}" alt="{{author.name}}" />
      {% endif %}
      <div class="author-bio">{{author.bio}}</div>
    </div>
    <br>
    <!-- include social media information for author if present -->
    <div class="author-share">
      {% if author.site %}
        <a aria-label="View author's website" data-style="mega" href="{{author.site}}" class="github-button">Web</a>
        <br><br>
      {% endif %}
      {% if author.github %}
        <a aria-label="Follow @{{author.github}} on GitHub" data-style="mega" href="https://github.com/{{author.github}}" class="github-button">Github</a>
        <br><br>
      {% endif %}
      {% if author.twitter %}
        <a href="https://twitter.com/{{author.twitter}}" class="twitter-follow-button" data-show-count="false" data-size="large">Twitter</a>
        <br><br>
      {% endif %}
    </div>
  </div>
