<footer id='wax-footer' class='page-footer container-fluid'>
  <div class='wax-inline-container'>
    <div class='row'>
      <div class='col'>
        <p class='footer-title'>{{ site.title }}</p>
        <p class='footer-description'>{{ site.description }}</p>
        <p class='footer-source'>
          Built with <a href='https://github.com/minicomp/wax/'>Minicomp/Wax</a>
        </p>
      </div>
      <div class='col'>
        <p class='footer-title'>Links</p>
        <p class='footer-links'>
          {% for item in site.footer.links %}
            <a href='{{ item.link | absolute_url }}'>
              {{ item.label }}
            </a>
          {% unless forloop.last %} / {% endunless %}
          {% endfor %}
        </p>
      </div>
      <div class="col">
        <p class='footer-title'>Sponsors</p>
        <p class='footer-links'>
          {% for item in site.footer.logos %}
          <div class="footer-logos">
            <a href="{{ item.link | absolute_url }}" aria-label="{{ item.aria }}">
              <img src='{{ item.img | absolute_url }}' alt="{{ item.alt }}"/>
            </a>
          </div>
          {% endfor %}
        </p>
      </div>
    </div>
  </div>
</footer>