---
layout: default
pagination: true
---

<a href="{{ page.selection }}"><img src="{{ page.selection }}"/></a><br>

Image Number: {{ page.volume }}, Image {{ page.image_number }}<br>
Head: {{ page.head }}<br>
{% if page.entry %}
  Entry: {{ page.entry }}<br>
{% endif %}
{% if page.see %}
  See: {{ page.see }}<br>
{% endif %}
{% if page.add %}
  Add: {{ page.add }}<br>
{% endif %}
{% if page.page %}
  Page: {{ page.page }}<br>
{% endif %}
{% if page.insertion_xref %}
  Insertion: {{ page.insertion_xref }}<br>
{% endif %}
{{ page.location }}
