---
layout: default
pagination: true
---
{% assign documents = site[page.collection] | sort: 'order' %}
{% assign first = documents.first %}
{% assign last = documents.last %}

{% for doc in documents %}
  {% if doc.pid == page.pid %}

    {% if forloop.first %}{% assign prevurl = last.url %}
    {% else %}{% assign prevurl = prev.url %}
    {% endif %}

    {% if forloop.last %}{% assign nexturl = first.url %}
    {% else %}{% assign nexturl = documents[forloop.index].url %}
    {% endif %}

  {% endif %}
{% assign prev = doc %}
{% endfor %}

<a href="{{ page.full }}"><img src="{{ page.full }}"/></a><br>


<i>Volume {{ page.volume }}, Image {{ page.image }}</i><br>
{% if page.pastorius_page_numbers %}
  Pastorius's Page Number: {{ page.pastorius_page_numbers }}<br>
{% endif %}
{% if page.older_pastorius_page_numbers %}
  Pastorius's Older Page Numbers {{ page.older_pastorius_page_numbers }}<br>
{% endif %}
Type: {{ page.type }}<br>
{% if page.section_title %}
  Section: {{ page.section_title }}<br>
{% endif %}
{% if page.secondary_section_title %}
  Section: {{ page.secondary_section_title }}<br>
{% endif %}
{% if page.tertiary_section_title %}
  Section: {{ page.tertiary_section_title }}<br>
{% endif %}
{% if page.pastorius_section_header %}
  Pastorius's Section Header: {{ page.pastorius_section_header }}<br>
{% endif %}
{% if page.pastorius_description %}
  Pastorius's Description: {{ page.pastorius_description }}<br>
{% endif %}
{% if page.contents %}
  Content: {{ page.contents }}<br>
{% endif %}
{% if page.first_entry %}
  Content: {{ page.first_entry }} -
{% endif %}
{% if page.last_entry %}
  {{ page.last_entry }} <br>
{% endif %}
<a href="{{ site.baseurl }}{{ prevurl }}">Previous Page</a> | <a href="{{ site.baseurl }}{{ nexturl }}">Next Page</a>
